<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- For FF, Chrome et Opera -->
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="~/css/backend-app.css" />
    @*<link href="~/vendor/photoswipe/photoswipe.css" rel="stylesheet" />
    <link href="~/vendor/photoswipe/default-skin/default-skin.css" rel="stylesheet" />*@
    <link href="~/vendor/simplemde/simplemde.min.css" rel="stylesheet" />
</head>
@RenderBody()
@*<div class="footer">
    <div class="footerNav">
        <div class="footerNav-items">
            <a class="footerNav-item footerNav-accueil" href="/"><div>Accueil</div></a>
        </div>
        <div class="footerNav-items">
            <a class="footerNav-item footerNav-prevention" href="~/prevention"><div>Prévention</div></a>
            <a class="footerNav-item footerNav-recherche" href="~/recherche"><div>Recherche</div></a>
            <a class="footerNav-item footerNav-formation" href="~/formation"><div>Formation</div></a>
        </div>
        <div class="footerNav-items">
            <a class="footerNav-item footerNav-adhesion" href="adhesion"><div>Adhérer à l'association</div></a>
        </div>
        <span class="footerNav-separator"></span>
        <div class="footerNav-items">
            <a href="https://www.facebook.com/pages/A-Propos-Association-de-Pr%C3%A9vention-et-de-Recherche-en-Orthophonie/165294163669628"><span class="footerSocial-facebook">facebook</span></a>
            <span class="footerSocial-contact">contact.apropos@gmail.com</span>
        </div>
    </div>
</div>
<div class="site-cache"></div>*@
    </div>  <!-- balise de fin ".pusher" -->
</div>  <!-- balise de fin ".wrapper" -->
@*<script src="@Url.Content("~/vendor/photoswipe/photoswipe.min.js")"></script>
<script src="@Url.Content("~/vendor/photoswipe/photoswipe-ui-default.min.js")"></script>
<script src="@Url.Content("~/js/myGallery.js")"></script>
<script src="@Url.Content("~/js/myApp.js")"></script>
<script src="@Url.Content("~/js/nav.js")"></script>*@
@*<script src="@Url.Content("~/vendor/simplemde/simplemde.min.js")"></script>*@
</body>
</html>