@model IEnumerable<ArticleView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Axe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Axe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id.ToString()">Modifier</a> |
            <a asp-action="Details" asp-route-id="@item.Id.ToString()">Détails</a> |
            <a asp-action="Delete" asp-route-id="@item.Id.ToString()">Supprimer</a>
        </td>
    </tr>
}

</table>
