@model ArticleView
<a class="article-titre" href="@Model.AxeCss/article/@(Model.Url)"><h1>@Model.Titre</h1></a>
@if (Model.HasSousTitre) {
<a class="article-sousTitre" href="@Model.AxeCss/article/@(Model.Url)">@Model.SousTitre</a>
}
<div class="article-info">
    <span class="icon-calendar"></span><span class="article-date u-mlxs">@Model.DateAffichage</span>
    @if (Model.HasVille) {
    <span class="icon-location u-mlm"></span><span class="article-ville u-mlxs">@Model.Ville (@Model.Departement)</span>
    }
    @if (Model.HasPhotos) {
    <span class="icon-image u-mlm"></span><span class="u-mlxs">@Model.Photos.Count photos</span>
    }
</div>